

#container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

div.grid {
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #cac8c8;
    height: 50px;
    flex: 1 1 auto;
}

.colored {
    background-color: black;

}